
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargaDatos</title>
</head>
<body>
    <div> 
        <p> Los datos Ingresados fueron almacenados.</p>
        <p>Gracias por su comentario.</p>
        <p><a href="/">Retornar</a></p>
    </div>
</body>
</html>
