
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campeonatos</title>
</head>
<style>
    div.a {
        text-align: left
    }

    h1.d {
        text-align: center
    }
</style>
<h1 class="d">Campeonatos de las aguilas cibaeñas</h1>
<button ng-checked="data">
    <a href="~/Home/Index">Historia</a>
</button>
<button ng-checked="data">
    <a href="~/Home/Fundadores">Fundadores</a>
</button>
<hr />
<body>
    <div class="a">
        <p>
            <table class="tableizer-table >
                <thead>
                    <tr class="tableizer-firstrow">
                        <th>
                            El primer torneo ganado por las Águilas en la tercera y definitiva etapa del béisbol criollo,
                            vino luego de una espera larga. En 1964,
                            es decir, nueve años después de abrirse el torneo en Octubre,
                            es cuando las Águilas se ciñen la corona. A partir de ese momento
                            se va a iniciar un período de mucho
                            brillo en la historia del equipo: son todas diademas en la cabeza oronda de Águila triunfante.
                        </th>
                    </tr>
                </thead>

            </table>
            <hr />
            <div class="html">
                <style type="text/css">
                    table.tableizer-table {
                        font-size: 16px;
                        border: 1px solid #CCC;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    .tableizer-table td {
                        padding: 4px;
                        margin: 3px;
                        border: 4px solid #CCC;
                    }

                    .tableizer-table th {
                        background-color: #104E8B;
                        color: #FFF;
                        font-weight: bold;
                    }
                </style>
                <table class="tableizer-table">
                    <thead>
                        <tr class="tableizer-firstrow">
                            <th>Temporada.</th>
                            <th>Campeón</th>
                            <th>Dirigentes</th>
                            <th>Serie</th>
                            <th>Subcampeón</th>
                            <th>Fue una pela</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1952</td>
                            <td>Águilas</td>
                            <td>Rodolfo Fernández</td>
                            <td>4-3</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1964/65</td>
                            <td>Águilas</td>
                            <td>Al Widmar</td>
                            <td>5-0</td>
                            <td>Escogido</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1966/67</td>
                            <td>Águilas</td>
                            <td>Pete Peterson</td>
                            <td>5-3</td>
                            <td>Escogido</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1971-72</td>
                            <td>Águilas</td>
                            <td>Osvaldo Virgil</td>
                            <td>5-3</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1974-75</td>
                            <td>Águilas</td>
                            <td>Al Widmar</td>
                            <td>5-4</td>
                            <td>Estrellas</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1975-76</td>
                            <td>Águilas</td>
                            <td>Tim Murtaugh</td>
                            <td>5-3</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1977-78</td>
                            <td>Águilas</td>
                            <td>Johnny Lipon</td>
                            <td>5-2</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1978-79</td>
                            <td>Águilas</td>
                            <td>Johnny Lipon</td>
                            <td>5-0</td>
                            <td>Escogido</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1985-86</td>
                            <td>Águilas</td>
                            <td>Winston-Chilote-Llenas</td>
                            <td>4-1</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1986-87</td>
                            <td>Águilas</td>
                            <td>Winston-Chilote-Llenas</td>
                            <td>4-1</td>
                            <td>Estrellas</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1992-93</td>
                            <td>Águilas</td>
                            <td>Miguel -Guelo- Diloné</td>
                            <td>4-1</td>
                            <td>Toros</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1995-96</td>
                            <td>Águilas</td>
                            <td>Terry Francona</td>
                            <td>4-1</td>
                            <td>Estrellas</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1996-97</td>
                            <td>Águilas</td>
                            <td>Mike Quade</td>
                            <td>4-0</td>
                            <td>Escogido</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1997-98</td>
                            <td>Águilas</td>
                            <td>Tony Peña</td>
                            <td>4-2</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>1999-00</td>
                            <td>Águilas</td>
                            <td>Tony Peña</td>
                            <td>4-3</td>
                            <td>Estrellas</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>2000-01</td>
                            <td>Águilas</td>
                            <td>Félix Fermín</td>
                            <td>4-2</td>
                            <td>Escogido</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>2002-03</td>
                            <td>Águilas</td>
                            <td>Félix Fermín</td>
                            <td>4-0</td>
                            <td>Escogido </td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>2004-05</td>
                            <td>Águilas</td>
                            <td>Félix Fermín</td>
                            <td>4-3</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>2006-07</td>
                            <td>Águilas</td>
                            <td>Félix Fermín</td>
                            <td>5-2</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>2007-08</td>
                            <td>Águilas</td>
                            <td>Félix Fermín</td>
                            <td>5-3</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>2016-17</td>
                            <td>Águilas</td>
                            <td>Felix Fermín/Manny Acta</td>
                            <td>5-4</td>
                            <td>Licey</td>
                            <td>Si</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </p>
    </div>

</body>
</html>
