
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<div class="html">
    <style type="text/css">
        table.tableizer-table {
            font-size: 16px;
            border: 1px solid #CCC;
            font-family: Arial, Helvetica, sans-serif;
        }

        .tableizer-table td {
            padding: 4px;
            margin: 3px;
            border: 4px solid #CCC;
        }

        .tableizer-table th {
            background-color: #000000;
            color: #ffd800;
            font-weight: bold;
        }

        div.a {
            text-align: left
        }

        h1.d {
            text-align: center
        }
    </style>

    <body>
        <h1 class="d">

            Las Águilas Cibaeñas.
        </h1>
        <button ng-checked="data">
            <a href="~/Home/Index">Historia</a>
        </button>
        <button ng-checked="data">
            <a href="~/Home/Campeonatos ">Campoenatos Ganados</a>
        </button>
        <hr />
        <div>

            <p>
                El
                equipo de béisbol dominicano, Las Águilas Cibaeñas, fue fundado el 2 de
                enero de 1933 en Santiago de los Caballeros. Este es uno de los seis
                equipo de béisbol profesional de la República Dominicana con más títulos
                ganados a nivel nacional.
            </p>
            <p>
                El 28 de enero de 1937, el equipo amarillo, el cual era conocido como
                Santiago Baseball Club, pasó a llamarse como sele conoce hoy día «Las
                Águilas Cibaeñas», por lo que durante un tiempo se tomó esta fecha como
                referencia para festejar su aniversario. Sin embargo, el consejo
                directivo dejó como fecha definitiva el día en que fue fundado dicho
                equipo.
            </p>
            <p>
                “Decidimos acoger esta fecha de fundación de nuestro aguerrido
                conjunto cibaeño ya que los documentos históricos confirman que el
                legendario conjunto Santiago Baseball Club, era el presentativo de
                Santiago y el Cibao en todos los torneos de béisbol y jugaba exhibiendo
                una águilas en la maga de su uniforme”, asegura Winston Llenas,
                presidente Ad-Vitam y figura màs emblemática del club.
            </p>
            <p>
                Expresando que “Nunca jamás deberá pasar desapercibida la efeméride
                que corresponde a la fundación de nuestro antiguo equipo santiagués, que
                con el símbolo del ave rapaz fue proclamado cuatro años después con el
                nombre de Águilas Cibaeñas, el 28 de enero de 1937, para participar en
                el campeonato profesional de ese año”.
            </p>
        </div>
    </body>
</html>
