
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="html">
        <style type="text/css">
            table.tableizer-table {
                font-size: 16px;
                border: 1px solid #CCC;
                font-family: Arial, Helvetica, sans-serif;
            }

            .tableizer-table td {
                padding: 4px;
                margin: 3px;
                border: 4px solid #CCC;
            }

            .tableizer-table th {
                background-color: #000000;
                color: #ffd800;
                font-weight: bold;
            }

            div.a {
                text-align: left
            }

            h1.d {
                text-align: center
            }
        </style>
        <h1 class="d">Clud del equipo de las Aguils Cibaeñas</h1>
        <button ng-checked="data">
            <a href="~/Home/Fundadores">Fundadores</a>
        </button>
            <button ng-checked="data"> <a href="~/Home/Campeonatos ">Campoenatos Ganados</a>
        </button>
            <hr />

            <div class="a">
                <p align="justify">

                    <table class="tableizer-table  >
                        <thead>
                            <tr class="tableizer-firstrow">
                                <th>

                <p>
                    Existen diferentes versiones sobre la fecha de fundación de Las Águilas Cibaeñas; según registro
                    el auténtico sería con el origen del legendario equipo de Santiago Baseball Club, el cual fue fundado
                    el 2 de enero de 1933, como la primera novena representativa de Santiago y la región en los
                    campeonatos nacionales.
                </p>

                <p>
                    Cuatro años más tarde, el 28 de enero de 1937, Santiago Baseball Club pasó a llamarse oficialmente
                    Águilas Cibaeñas tras una propuesta hecha por Luis Tomás Saillant, lo que dio inicio a una exitosa
                    trayectoria competitiva en la pelota profesional.
                </p>
                <p>
                    Sustentados en los documentos históricos, presentados por los historiadores deportivos del equipo
                    aguilucho, el consejo directivo de las Águilas Cibaeñas Baseball Club, presidido por Winston Chilote
                    Llenas, dio a conocer la nueva fecha de fundación de la organización.
                </p>
                <p>
                    “Decidimos acoger el 2 de enero de cada año como fecha de fundación de nuestro aguerrido conjunto
                    cibaeño”, indicó Chilote Llenas.
                </p>
                <p>
                    Agregó que “Nunca jamás deberá pasar desapercibida la efeméride que corresponde a la fundación de
                    nuestro antiguo equipo santiagués, que con el símbolo del ave fue proclamado cuatro años después
                    con el nombre de Águilas Cibaeñas, el 28 de enero de 1937, para participar en el campeonato profesional
                    de ese año”.
                </p>
                <p>
                    Rafael Baldayac, periodista e historiador, explicó que es el Santiago Baseball Club que acentúa la
                    encarnizada rivalidad entre las dos grandes ciudades del país, Santiago y la Capital. Licey, fundado
                    muchos años antes, el 7 de noviembre de 1907, ahora tenía a los santiagueros de contrincantes, además
                    de su eterno rival, el Escogido, creado el 17 de febrero de 1921.
                </p>
                <p>
                    La llama de las almas caídas en la gran catástrofe aérea de aquel fatídico domingo 11 de enero de
                    1948, se mantiene viva con el nombre de Aguilas Cibaeñas, heredando esa mística ganadora de sus
                    antecesores”, comentó Rafael Baldayac, miembro del staff de prensa del equipo cibaeño.
                </p>
                <p>
                    Tras el fracaso de la pelota profesional a partir de 1937 el Santiago Baseball Club volvió a
                    representar a esta hidalga ciudad en los torneos nacionales de béisbol aficionado, y pese a que
                    sus integrantes desaparecieron en pleno durante la Tragedia de Rio Verde, las Águilas Cibaeñas
                    retomaron el legado del mítico conjunto santiagués a partir de 1951 con el rescate de la pelota
                    rentada criolla.
                </p>
                <p>
                    El lunes 2 de enero de 1933, tras una reunión llevada a cabo por destacadas personalidades de
                    la ciudad, queda formalmente constituido el equipo de béisbol Santiago Baseball Club, Santiago B.B.C.
                </p>
                <p>
                    Entre los responsables de fundar el famoso equipo se encuentran: Domingo O. Bermúdez, Rafael F.
                    Bonnelly, Augusto Vega Espaillat, doctor Manuel Grullón, Eladio Victoria Hijo, Ramón Suárez
                    Vásquez y el licenciado Marcos A. Cabral. También figuran como miembros fundadores de la escuadra
                    santiaguera los señores Gustavo Tavarez, W.E. Brown Benjamín Sánchez G, Luis Meses Ariza, Rafael
                    V. Meyreles, Esteban Piola, Luis Pérez y Demetrio Mojica.
                </p>
                <p>
                    Cinco días después de su formación, el sábado 7 de enero de 1933, sostuvieron su primer compromiso
                    internacional jugando en el Play Enriquillo contra la reconocida novena cubana “Cuban Star”.
                    En dicho encuentro los visitantes ganaron el doble encuentro con pizarras de 9x4 y 4x1.
                </p>
                <p>
                    El conjunto santiagués consiguió su primera gran proeza el 16 de agosto de 1933, cuando blanquea
                    dos veces al ya famoso equipo de Licey de la capital. En el primer juego los santiagueros contaron
                    con la extraordinaria labor monticular del vegano Blanquito El Pino.
                </p>
                <p>
                    En tanto que en el segundo desafío de la jornada, celebrada en el Enriquillo Park, el santiagués
                    Bertico Pichardo con la ayuda en el noveno de El Pino dejaron de nuevo en blanco a Licey, para así
                    propinarle 18 ceros consecutivos.
                </p>

                <h4>Trayectoria de las Águilas Cibaeñas</h4>

                <p>
                    El nombre del equipo Águilas Cibaeñas, 20 veces campeones del béisbol profesional dominicano,
                    surge el 28 de enero de 1937 con la propuesta hecha por Luis Tomás Saillant.

                </p>
                <p>
                    Las Águilas Cibaeñas, conocida popularmente por los aficionados del béisbol dominicano
                    con los apodos de “Los Mameyes” y “Las Cucuyas”, tiene su sede en el Estadio Cibao, también
                    conocido como El Valle de la Muerte. Entre los beisbolista más destacados a través de su historia
                    se encuentran: Tony Peña, Miguel "Guelo" Diloné, Winston "Chilote" Llenas, Luis Polonia, Miguel
                    Tejada, Bernie Castro, Manny Ramírez, Edwin Encarnación y Mendy López.
                </p>
                <p>
                    Las Águilas Cibaeñas es el equipo Dominicano y del Caribe con más jugadores en las grandes
                    Ligas, entre estos sobresalen: Dellin Betances, Edwin Encarnación, Carlos Martínez "El Tsunamy”,
                    José Reyes, Jonathan Villar, Carlos Gómez, Juan Lagares, Bartolo Colón, Wandy Rodríguez, Melky
                    Cabrera, Danny Santana, entre otros.
                </p>
                </th>
                </tr>
                </thead>
                </table>
                <hr />

            </div>

    </div>
</body>
</html>
