
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<h1 style="color:aqua">Formularios</h1>
<hr />
<body>
    <div>
        <p><a href="/Home/FormularioPeronas">Carga de dato de peronas</a></p>
        <p><a href="/Home/ListadosPersonas">Listados de todas las personas</a></p>
    </div>
</body>
</html>
