
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListadosPersonas</title>
</head>
<body>
    <div>
        @Html.Raw(ViewData["Person"])
        <br />
        <a href="/">Retornar</a>
    </div>
</body>
</html>
